header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

header ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.25s, padding .25s;
    transition: color 0.25s, padding .25s;
}

/*УМЕНЬШАЕМ НАВИГАЦИЮ ПРИ СКРОЛЛЕ + padding .25s*/
header.top ul li a {
    padding-top: 15px;
    padding-bottom: 15px;
}


header ul li.active a,
header ul li a:hover {
    color: #7952b3;
    text-decoration: none;
}

.lp-content {

    border: 1px dashed skyblue;
    padding: 40px 0;
}

.lp-content h2 {
    text-align: center;
    color: #7952b3;
    margin-bottom: 20px;
}

footer {
    background: #7952b3;
    padding: 25px;
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

/*СЛАЙДШОУ*/

#slideshow .lp-content {
    padding: 0;
}

.owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;

}

.owl-dots button.owl-dot {
    display: inline-block;
    padding: 0 10px !important;
    opacity: 0.75;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}


.owl-dots button.owl-dot span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 100%;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}

.owl-dots button.owl-dot.active span {
    background: #7952b3;
}

/*изменяем кнопки вперед назад*/

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: white;
    margin-top: -20px;
    border-radius: 100%;
    opacity: 0.75;
    text-align: center;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 25px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 25px;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    opacity: 0.95;
}

.owl-carousel .owl-nav button.owl-prev:focus,
.owl-carousel .owl-nav button.owl-next:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-prev i,
.owl-carousel .owl-nav button.owl-next i {
    color: #7952b3;
    font-size: 24px;
    line-height: 40px;
}

/*ВСПЛЫВАЮЩИЕ ОКНА*/

.lp-popup{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

#services .lp-tab .btn {
    background: #7952b3;
    border-color: transparent;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}

#services .lp-tab .btn:hover {
    background-color: #583b83;
}

#services .lp-tab .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*ДОМАШНЕЕ ЗАДАНИЕ*/
#portfolio .home_task_button {
    background: #7952b3;
    border-color: transparent;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}


/*ФОРМА ОБРАТНОЙ СВЯЗИ*/


/*ПРАЙС-ЛИСТ*/

#prices table th {
    background: #7952b3;
    color: #fff;
    text-align: center;
/*    отменяем выделения слов при двойном клике по сортировке (как текстовый элемент), user-select:none*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/*выберет только те, у которых есть сортировка*/
#prices table th[ng-click] {
    cursor: pointer;
}

#prices table td i {
    color: #be343f;
}

/*т.к. файл джсон долго подгружается, нужно сделать спиннер*/

#prices .lp-prices-loader {
    text-align: center;
    
}

#prices .lp-prices-loader i {
    display: inline-block;
    font-size: 2em;
    color: #ccc;
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotateZ(0deg);
    }
   
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes spinner2 {
    0% {
        transform: rotateZ(0deg);
        color: #11b7b1;
        font-size:1em;
    }
   
    50% {
        transform: rotateZ(45deg);
        color: #7167bc;
        font-size:3em;
    }
    100% {
        transform: rotateZ(360deg);
        color: #2cba79;
        font-size:2em;
    }
}
/*КАРТА*/

#lp-map {
    height: 400px;
}